<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/records.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="container">
        <h1>New Record page</h1>
        <form action="/records" method="POST">
            Title: <input type="text" name="title" /><br/>
            Artist: <input type="text" name="artist" /><br/>
            <input type="submit" value="Create Record"/>
        </form><br>
        </div>
    </body>
</html>