<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Record page</h1>
        <form action="/records" method="POST">
            Name: <input type="text" name="name" /><br/>
            <input type="submit" value="Create Record"/>
        </form>
    </body>
</html>