<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/records.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Record Show Page</h1>
    <%=record.title%> by <%=record.artist%>
    <h3>Owned by:</h3>
        <% for (let i=0; i<record.Users.length; i++) { %>
            <li>
                <%=record.Users[i].name%>
            </li>
        <% } %><br>
    </div>
</body>
</html>