h1 {
    color: black;
    font-family: 'New Rocker', cursive;
    font-size: 50px;
}

a:link {
    font-weight: bold;
    color: black;
    font-family: 'New Rocker', cursive;
}

a:visited {
    color: black;
    font-family: 'New Rocker', cursive;

    
}

body {
    background-color: #fe485e;
    background-repeat: no-repeat;
    background-image: url(https://wallpaperaccess.com/full/1892834.jpg);
}
.container {
    width: 400px;
    background-color: lightgray;
    border: solid black;
    border-radius: 25px;
    padding-left: 50px;
}