h1 {
    color: black;
    font-family: 'Newf Rocker', cursive;
}

a:link {
    color: black;
}

a:visited {
    color: black;
    font-family: 'Newf Rocker', cursive;
}

html {
    min-height: 100%;
    background-image: url(https://wallpaperaccess.com/full/1892834.jpg);
}