h1 {
    color: black;
    font-family: 'New Rocker', cursive;
    font-size: 60px;
    text-shadow: 3px 3px rgb(197, 160, 160);
}

a:link {
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(197, 160, 160);

}

a:visited {
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(197, 160, 160);
}

a:hover {
    color: yellow;
    text-decoration: none;
    font-size: 40px;
    font-family: 'New Rocker', cursive;
}

form {
    font-size: 20px;
    font-family: 'New Rocker', cursive;
    text-shadow: 1.5px 1.5px rgb(197, 160, 160);

}

body {
    background-color: #fe485e;
    background-repeat: no-repeat;
    background-image: url(https://wallpaperaccess.com/full/1892834.jpg);
}
.container {
    width: 400px;
    background-color: #fd91a1;
    border: solid black;
    border-radius: 25px;
    padding-left: 50px;
}